<div class="drumkit instrument-board"  ng-controller="DrumkitCtrl">

    <img src=”drumkit.jpg”
	usemap=”drum”>
	<map name="drum">
	<area shape="circle" coords="200,40,60" 	href=href="/html/"  title="Snar-drum">
	<area shape="circle" coords="600,40,70" 	href=href="/html/" 	title="High-hat">
	<area shape="circle" coords="400,100,20" 	href=href="/html/" 	title="Crash">
	<area shape="circle" coords="100,180,60" 	href=href="/html/"  title="Rack-tom">
	<area shape="circle" coords="240,300,55" 	href=href="/html/" 	title="Ride">
	<area shape="circle" coords="620,300,65" 	href=href="/html/"  title="Flor-tom">
	<area shape="circle" coords="400,500,50" 	href=href="/html/"  title="Bass-drum">
	</map>
    </div>